<% const buttonNumber = (text,className) =>
`<button class="button-number${className?' '+className:''}">
    <span>${text}</span>
</button>`;
%>
<% const input = (text,className,placeholder) =>
        `<input class="input${className?' '+className:''}" type="text" placeholder="${placeholder}"/>`;
%>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcodes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="assets/img/raster/metaIMG.png"/>
    <link rel='shortcut icon' type='image/x-icon' href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i" rel="stylesheet">
    <% for (let key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key].replace('\\','/') %>"><% } %>
</head>
<body>
<div class="popup-review">
    <div class="popup-review__container">
        <div class="popup-review__cross">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path fill="#5970A0" fill-rule="nonzero" d="M10 8.586l5.293-5.293 1.414 1.414L11.414 10l5.293 5.293-1.414 1.414L10 11.414l-5.293 5.293-1.414-1.414L8.586 10 3.293 4.707l1.414-1.414z"/>
            </svg>
        </div>
        <div class="popup-review__title">
            <span>Write a review</span>
        </div>
        <div class="popup-review__description">
            <span>It is really very important  for us</span>
        </div>
        <div class="popup-review__email">
            <input type="text" readonly value="support@verefied-upc.com">
        </div>
        <button class="popup-review__copy-email">
            <span>Copy Email to clipboard</span>
            <svg class="popup-review__copy-email-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path fill="#FFF" fill-rule="nonzero" d="M13 0H2C.9 0 0 .9 0 2v12h2V2h11V0zm5 4H7c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H7V6h11v12z"/>
            </svg>
        </button>
    </div>
</div>
<div class="notification">
    <span>Oops, something went wrong!</span>
    <svg class="cross" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <path fill="#fff" fill-rule="nonzero" d="M10 8.586l5.293-5.293 1.414 1.414L11.414 10l5.293 5.293-1.414 1.414L10 11.414l-5.293 5.293-1.414-1.414L8.586 10 3.293 4.707l1.414-1.414z"/>
    </svg>
</div>
<div class="page">
    <header class="header">
        <div class="container-main">
            <div class="header__area">
                <div class="header__left">
                    <svg class="logo" width="31px" height="24px" viewBox="0 0 31 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-130.000000, -38.000000)">
                            <g id="header" transform="translate(0.000000, 20.000000)" fill="#FFFFFF">
                                <g id="logo" transform="translate(130.000000, 18.000000)">
                                    <path d="M0,0 L3,0 L3,24 L0,24 L0,0 Z M8,0 L11,0 L11,24 L8,24 L8,0 Z M13,0 L15,0 L15,24 L13,24 L13,0 Z M17,0 L20,0 L20,24 L17,24 L17,0 Z M28,0 L31,0 L31,24 L28,24 L28,0 Z M5,0 L6,0 L6,24 L5,24 L5,0 Z M22,0 L24,0 L24,24 L22,24 L22,0 Z M26,0 L27,0 L27,24 L26,24 L26,0 Z" id="logotype"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span class="logo-title">verified-upс.com</span>
                </div>
                <nav class="header__right">
                    <ul class="navigation">
                        <li>Where UPC codes whould works?</li>
                        <li>How it works?</li>
                        <li>Reviews</li>
                        <li>FAQ</li>
                        <li>Contact</li>
                    </ul>
                    <button class="button-simple">Buy now</button>
                </nav>
            </div>
        </div>

    </header>
    <div class="screen screen1">
        <div class="container-main screen1__area">
            <div class="screen1__top">
                <div class="screen1__top-left">
                    <div class="screen1__text-banner">
                        <h1 class="title">
                            <p>Receive your <span class="m-text-italic">verified</span></p>
                            <p class="bold">UPC code in one minute</p>
                        </h1>
                        <div class="description">
                            <p>Create your personal listings and product pages</p>
                            <p>on the most popular marketplaces in the world!</p>
                        </div>
                        <div class="screen1__text-banner-part3">
                            <ul class="screen1__logo-list">
                                <% let logos = [
                                    {
                                        src: 'assets/img/svg/amazon.svg',
                                        alt: 'Amazon'
                                    },
                                    {
                                        src: 'assets/img/svg/ebay.svg',
                                        alt: 'Ebay'
                                    },
                                    {
                                        src: 'assets/img/svg/itunes.svg',
                                        alt: 'itunes'
                                    },
                                    {
                                        src: 'assets/img/svg/tmall.svg',
                                        alt: 'tmall'
                                    },
                                    {
                                        src: 'assets/img/svg/rakuten.svg',
                                        alt: 'racuten'
                                    },
                                    {
                                        src: 'assets/img/svg/flipkart.svg',
                                        alt: 'flipkart'
                                    },
                                    {
                                        src: 'assets/img/svg/etsy.svg',
                                        alt: 'Etsy'
                                    }
                                ]; %>
                                <%
                                    logos.forEach((logo) => { %>
                                    <li class="screen1__logo-list-item">
                                        <img src="<%=logo.src %>" alt="<%=logo.alt %>">
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="screen1__top-right">
                    <div class="screen1__form-container">
                        <div class="form-loader">
                            <div class="loader">
                                <div class="css-owvjub"></div>
                                <div class="css-1ro7c3h"></div>
                                <div class="css-owvjub"></div>
                            </div>
                        </div>
                        <div class="form-success">
                            <div class="form-success__close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path fill="#5970A0" fill-rule="nonzero" d="M10 8.586l5.293-5.293 1.414 1.414L11.414 10l5.293 5.293-1.414 1.414L10 11.414l-5.293 5.293-1.414-1.414L8.586 10 3.293 4.707l1.414-1.414z"/>
                                </svg>
                            </div>
                            <div class="form-success__number">
                                <span></span>
                            </div>
                            <div class="form-success__title">
                                <span>Success!</span>
                            </div>
                            <div class="form-success__email">
                                <span>Check your email </span>
                                <span class="email"></span>
                            </div>
                            <div class="form-success__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
                                    <g fill="none" fill-rule="evenodd">
                                        <circle cx="50" cy="50" r="50" fill="#3DDF9E"/>
                                        <path fill="#FFF" d="M67.597 32.348l5.303 5.304-30.152 30.152-15.4-15.399 5.304-5.303 10.096 10.096z"/>
                                    </g>
                                </svg>
                            </div>
                            <button class="form-success__buy-again">
                                <span>Buy again</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path fill="#FFF" fill-rule="nonzero" d="M17.06 2.938A9.957 9.957 0 0 0 9.995 0C4.465 0 0 4.475 0 10s4.465 10 9.994 10c4.665 0 8.555-3.188 9.668-7.5h-2.601a7.493 7.493 0 0 1-7.067 5c-4.14 0-7.505-3.363-7.505-7.5 0-4.138 3.365-7.5 7.505-7.5 2.076 0 3.927.862 5.278 2.225L11.245 8.75H20V0l-2.94 2.938z"/>
                                </svg>
                            </button>
                        </div>
                        <form class="form">
                            <div class="form__close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <path fill="#5970A0" fill-rule="nonzero" d="M10 8.586l5.293-5.293 1.414 1.414L11.414 10l5.293 5.293-1.414 1.414L10 11.414l-5.293 5.293-1.414-1.414L8.586 10 3.293 4.707l1.414-1.414z"/>
                                </svg>
                            </div>
                            <div class="form__body">
                                <div class="form__title">UPC code's</div>
                                <ol class="form__field-list">
                                    <% const line = (title, content) =>
                                            `<li class="form__line">
                                    <div class="form__line-title">
                                        <span>${title}</span>
                                    </div>
                                    <div class="form__line-content">
                                        ${content}
                                    </div>
                                </li>`;
                                    %>
                                    <%=line('Choose payment method', `
                                    <ul class="form__button-list">
                                        <li class="form__button-list-item w250 payment-method">
                                            ${buttonNumber(
                                            '<svg xmlns="http://www.w3.org/2000/svg" width="50" height="14" viewBox="0 0 50 14" data-val="paypal">\n' +
                                            '    <path fill="#656FF5" fill-rule="nonzero" d="M33.938 0h-3.85a.535.535 0 0 0-.528.452l-1.556 9.88c-.03.194.12.37.317.37h1.975c.183 0 .34-.134.369-.316l.442-2.8a.534.534 0 0 1 .528-.453h1.218c2.536 0 3.998-1.227 4.38-3.662.173-1.064.009-1.901-.49-2.487C36.196.34 35.225 0 33.938 0zm.444 3.608c-.21 1.383-1.265 1.383-2.286 1.383h-.581l.407-2.582a.32.32 0 0 1 .317-.271h.266c.695 0 1.351 0 1.69.396.202.237.264.588.187 1.074zM6.486 0c1.287 0 2.258.34 2.806.984.497.586.662 1.423.49 2.487-.383 2.435-1.846 3.662-4.38 3.662H4.182a.535.535 0 0 0-.528.452l-.42 2.665a.535.535 0 0 1-.528.452H.869a.321.321 0 0 1-.317-.37L2.108.451A.535.535 0 0 1 2.638 0h3.848zm.444 3.608c.076-.486.015-.837-.187-1.074-.338-.396-.995-.396-1.69-.396h-.265a.321.321 0 0 0-.318.271l-.407 2.582h.581c1.02 0 2.076 0 2.286-1.383zm11.06-.044a.32.32 0 0 1 .317.371l-.996 6.316a.536.536 0 0 1-.529.45h-1.66a.321.321 0 0 1-.316-.37l.082-.513s-.91 1.055-2.551 1.055c-.957 0-1.76-.276-2.322-.938-.612-.721-.862-1.754-.686-2.835.339-2.166 2.078-3.71 4.114-3.71.888 0 1.778.193 2.177.773l.13.187.08-.515a.32.32 0 0 1 .317-.271h1.842zm-2.569 3.59c.081-.51-.03-.973-.312-1.304-.28-.33-.705-.503-1.229-.503-1.05 0-1.9.73-2.066 1.775-.086.513.016.973.29 1.296.274.325.702.498 1.237.498 1.066 0 1.902-.707 2.08-1.762zm30.021-3.59a.32.32 0 0 1 .317.371l-.996 6.316a.535.535 0 0 1-.528.45h-1.66a.321.321 0 0 1-.316-.37l.082-.513s-.91 1.055-2.552 1.055c-.956 0-1.759-.276-2.321-.938-.612-.721-.862-1.754-.686-2.835.338-2.166 2.078-3.71 4.115-3.71.888 0 1.777.193 2.176.773l.129.187.081-.515a.32.32 0 0 1 .317-.271h1.842zm-2.568 3.59c.08-.51-.03-.973-.313-1.304-.28-.33-.705-.503-1.228-.503-1.05 0-1.9.73-2.066 1.775-.087.513.017.973.288 1.296.276.325.704.498 1.239.498 1.066 0 1.902-.707 2.08-1.762zm-15.068-3.59c.259 0 .41.29.264.504l-6.161 8.9a.536.536 0 0 1-.44.23h-1.85a.321.321 0 0 1-.263-.507l1.918-2.71-2.04-5.993a.322.322 0 0 1 .304-.424h1.821c.236 0 .445.155.513.382l1.083 3.62 2.555-3.768a.536.536 0 0 1 .443-.234h1.853zM47.615.27A.322.322 0 0 1 47.93 0h1.779c.196 0 .347.177.316.371l-1.557 9.88a.535.535 0 0 1-.528.45h-1.59a.32.32 0 0 1-.316-.37L47.615.27z"/>\n' +
                                            '</svg>\n')}
                                        </li>
                                        <li class="form__button-list-item w250 payment-method">
                                            ${buttonNumber(
                                            '<svg xmlns="http://www.w3.org/2000/svg" width="38" height="15" viewBox="0 0 38 15" data-val="stripe">\n' +
                                            '    <path fill="#849BC9" fill-rule="nonzero" d="M2.53 5.886c0-.38.378-.57.884-.57.759 0 1.77.254 2.53.697V3.608C5.12 3.29 4.235 3.1 3.413 3.1 1.391 3.101 0 4.177 0 6.013 0 8.797 3.794 8.29 3.794 9.557c0 .443-.38.633-.949.633-.822 0-1.897-.38-2.719-.823v2.405c.949.38 1.834.57 2.72.57 2.086 0 3.477-1.013 3.477-2.848.063-3.038-3.794-2.469-3.794-3.608zm15.743 6.266h2.529v-8.86h-2.53v8.86zm-8.6-10.95l-2.465.507v7.975c0 1.519 1.138 2.595 2.592 2.595.822 0 1.455-.127 1.77-.317V9.937c-.315.126-1.896.57-1.896-.886V5.443h1.897V3.291H9.674V1.203zm5.312 2.849l-.063-.76h-2.276v8.86h2.529V6.14c.632-.76 1.707-.633 2.023-.506V3.29c-.316-.126-1.58-.316-2.213.76zm3.288-1.456l2.529-.506V0l-2.53.506v2.089zM38 7.722c0-2.595-1.265-4.62-3.667-4.62-2.403 0-3.857 2.025-3.857 4.62 0 3.037 1.707 4.557 4.173 4.557 1.201 0 2.086-.254 2.782-.697V9.62c-.696.38-1.454.57-2.466.57-1.012 0-1.834-.38-1.96-1.582h4.932C38 8.48 38 7.975 38 7.722zm-4.995-.95c0-1.14.695-1.582 1.328-1.582.632 0 1.264.443 1.264 1.582h-2.592zm-6.639-3.67c-1.012 0-1.58.442-1.96.822l-.063-.633h-2.276V15l2.529-.443v-2.848c.379.253.885.633 1.77.633 1.834 0 3.478-1.456 3.478-4.684-.064-2.911-1.708-4.557-3.478-4.557zm-.632 6.961c-.57 0-.949-.19-1.202-.506V5.823c.253-.317.633-.507 1.202-.507.948 0 1.58 1.013 1.58 2.342 0 1.393-.632 2.405-1.58 2.405z"/>\n' +
                                            '</svg>')}
                                        </li>
                                    </ul>
                                `) %>
                                    <%=line('Select the needed quantity', `
                                    <ul class="form__button-list ju_sb">
                                        <li class="form__button-list-item quantity">
                                            ${buttonNumber(5)}
                                        </li>
                                        <li class="form__button-list-item quantity">
                                            ${buttonNumber(10)}
                                        </li>
                                        <li class="form__button-list-item quantity">
                                            ${buttonNumber(50)}
                                        </li>
                                        <li class="form__button-list-item quantity">
                                            ${buttonNumber(250)}
                                        </li>
                                        <li class="form__button-list-item quantity">
                                            ${buttonNumber(500)}
                                        </li>
                                        <li class="form__button-list-item quantity">
                                            ${buttonNumber(1000)}
                                        </li>
                                    </ul>
                                `) %>
                                    <%=line(`Enter email <span class="marker-waikawa-gray  mobile-hidden">(for send codes after purchase)</span>`,
                                            input('','email','samplename@hello.com')
                                    ) %>
                                </ol>
                                <div class="form__bottom">
                                    <div class="form__bottom-left">
                                    <span class="form__total">
                                        <span>Total: </span>
                                        <span class="form__total-value">$25</span>
                                    </span>
                                        <div class="form__promocode-button">
                                            <div class="tooltip">
                                                <input type="text" class="tooltip__input" placeholder="Code">
                                                <button class="tooltip__visual-state"></button>
                                            </div>
                                            <span>Enter promocode</span>
                                        </div>
                                    </div>
                                    <div class="form__bottom-right">
                                        <button class="button">
                                            <span class="button__desktop">Buy now</span>
                                            <span class="button__mobile">Buy for <span class="button__mobile-value"></span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form__response">
                                <span>Request is sent.</span>
                            </div>
                            <div class="form__error">
                                <p>Request is sent.</p>
                                <p>Try later.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="screen1__bottom">
                <div class="customer-line">
                    <div class="customer-line__item customer-line__item_wait">
                        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="invoice/waiting" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-10.000000, -15.000000)">
                                <g id="item" fill="#FFFFFF" fill-rule="nonzero">
                                    <path d="M19.99,15 C25.52,15 30,19.48 30,25 C30,30.52 25.52,35 19.99,35 C14.47,35 10,30.52 10,25 C10,19.48 14.47,15 19.99,15 Z M23.5,24 C24.33,24 25,23.33 25,22.5 C25,21.67 24.33,21 23.5,21 C22.67,21 22,21.67 22,22.5 C22,23.33 22.67,24 23.5,24 Z M16.5,24 C17.33,24 18,23.33 18,22.5 C18,21.67 17.33,21 16.5,21 C15.67,21 15,21.67 15,22.5 C15,23.33 15.67,24 16.5,24 Z M20,30.5 C22.33,30.5 24.31,29.04 25.11,27 L14.89,27 C15.69,29.04 17.67,30.5 20,30.5 Z" id="happy-face-ico"></path>
                                </g>
                            </g>
                        </svg>
                        <div class="customer-line__item-wait-text">
                            Waiting happy<br>customer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="screen screen2">
        <div class="container-main screen2__area">
            <div class="screen2__top">
                <div class="screen2__left">
                    <div class="screen2__left-img">

                    </div>
                </div>
                <div class="screen2__right">
                    <h1 class="title">
                        How it <span class="m-text-italic">works</span>
                    </h1>
                    <div class="description">
                        This is fully automated site designed to help sellers on worldwide
                        marketplaces to get authentic GS1 UPC and EAN codes for their listings and products.
                    </div>
                </div>
            </div>
            <div class="screen2__bottom">
                <div class="screen2__bottom-item">
                    <div class="screen2__bottom-item-icon">
                        <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="ill/payment">
                                    <circle id="Oval" fill="#FFFFFF" cx="25.5" cy="26.5" r="23.5"></circle>
                                    <path d="M19.5,33.4507659 L21.6520468,30.249453 C22.6345029,31.1641138 24.2251462,32.0306346 25.6520468,32.0306346 C26.494152,32.0306346 27.4064327,31.6936543 27.4064327,30.6586433 C27.4064327,28.7330416 19.8040936,28.5645514 19.8040936,23.3894967 C19.8040936,20.7887195 21.5457847,18.9048178 24,18.3213257 L24,16.5 C24,15.6715729 24.6715729,15 25.5,15 C26.3284271,15 27,15.6715729 27,16.5 L27,18.2117828 C28.4822312,18.405991 29.9328392,19.0032806 31.1023392,20.0678337 L29.371345,23.5098468 C28.4356725,22.6914661 26.9853801,21.9934354 25.6754386,21.9934354 C24.8333333,21.9934354 23.8976608,22.3785558 23.8976608,23.3413567 C23.8976608,25.3873085 31.5,25.2428884 31.5,30.5623632 C31.5,33.0626737 29.8825921,35.2393699 27,35.7786216 L27,37.5 C27,38.3284271 26.3284271,39 25.5,39 C24.6715729,39 24,38.3284271 24,37.5 L24,35.7631913 C22.3706733,35.4594468 20.6520589,34.6818215 19.5,33.4507659 Z" id="Combined-Shape" fill="#A9C4F9"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="screen2__bottom-item-title">Payment</div>
                    <div class="screen2__bottom-item-description">First, select payment type that suits for you. Pay with Paypal or your Bank card. All transaction are secured and safe. We do not store any personal information on our servers.</div>
                </div>
                <div class="screen2__bottom-item">
                    <div class="screen2__bottom-item-icon">
                        <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="ill/form">
                                    <rect id="Rectangle" fill="#FFFFFF" x="0" y="5" width="50" height="45" rx="4"></rect>
                                    <rect id="Rectangle" fill="#A9C4F9" x="7" y="13" width="36" height="7" rx="2"></rect>
                                    <rect id="Rectangle-Copy-4" fill="#A9C4F9" x="7" y="24" width="36" height="7" rx="2"></rect>
                                    <rect id="Rectangle-Copy-7" fill="#A9C4F9" x="7" y="35" width="21" height="7" rx="2"></rect>
                                    <rect id="Rectangle-Copy-8" fill="#F5656D" x="31" y="35" width="12" height="7" rx="2"></rect>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="screen2__bottom-item-title">Quantity</div>
                    <div class="screen2__bottom-item-description">
                        Decide how many codes you need for your business, if you planning create listings on Amazon with variations, note that each variation would need uniq UPC / EAN code.
                    </div>
                </div>
                <div class="screen2__bottom-item">
                    <div class="screen2__bottom-item-icon">
                        <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="ill/email">
                                    <path d="M4.98411451,24.3291662 L22.5397137,34.2518962 C24.0664084,35.1148106 25.9335916,35.1148106 27.4602863,34.2518962 L45.0158855,24.3291662 C45.9774826,23.7856548 47.1976142,24.1245802 47.7411257,25.0861774 C47.910822,25.3864094 48,25.7254207 48,26.0702919 L48,46 C48,48.209139 46.209139,50 44,50 L6,50 C3.790861,50 2,48.209139 2,46 L2,26.0702919 C2,24.9657224 2.8954305,24.0702919 4,24.0702919 C4.34487118,24.0702919 4.68388248,24.1594698 4.98411451,24.3291662 Z" id="Rectangle-6" fill="#FFFFFF"></path>
                                    <path d="M12,1 L38,1 C40.209139,1 42,2.790861 42,5 L42,17.5916743 C42,19.0733134 41.1810055,20.4335853 39.8715509,21.126826 L27.3394386,27.7614737 C25.8760272,28.5362209 24.1239728,28.5362209 22.6605614,27.7614737 L10.1284491,21.126826 C8.81899445,20.4335853 8,19.0733134 8,17.5916743 L8,5 C8,2.790861 9.790861,1 12,1 Z" id="Rectangle-7" fill="#FFFFFF"></path>
                                    <path d="M27,7 L27,10 L35,10 L35,7 L27,7 Z M24,7 L15,7 L15,10 L24,10 L24,7 Z M27,16 L35,16 L35,13 L27,13 L27,16 Z M24,16 L24,13 L15,13 L15,16 L24,16 Z M14,4 L36,4 C37.1045695,4 38,4.8954305 38,6 L38,17 C38,18.1045695 37.1045695,19 36,19 L14,19 C12.8954305,19 12,18.1045695 12,17 L12,6 C12,4.8954305 12.8954305,4 14,4 Z" id="Combined-Shape" fill="#A9C4F9" fill-rule="nonzero"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="screen2__bottom-item-title">Email</div>
                    <div class="screen2__bottom-item-description">Usually after payment processed our server automatically send UPC / EAN codes during one minute. Please, check specified mailbox after purchase, codes should be already there!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="screen screen3">
        <div class="container-main screen3__area">
            <div class="screen3__header">
                <h1 class="title">
                    Customer <span class="m-text-italic">Reviews</span>
                </h1>
            </div>
            <div class="screen3__middle">
                <div class="screen3__comments">
                    <%
                        const comments = [
                            {
                                raiting:4,
                                description:'Came in 5 minutes, no problems, recommend.',
                                author:'Paul'
                            },
                            {
                                raiting:5,
                                description:'The codes came instantly. Thank you!',
                                author:'Rosalie Cain'
                            },
                            {
                                raiting:5,
                                description:'Instant delivery, works on Amazon. Would recommend!',
                                author:'Roy'
                            },
                            {
                                raiting:5,
                                description:'No problems with codes, listed my products.',
                                author:'Todd Patrick'
                            },
                            {
                                raiting:5,
                                description:'Thats my second purchase, would come again and recommend.',
                                author:'Kristina'
                            },
                            {
                                raiting:5,
                                description:'A straight forward, plain and simple process for purchasing barcodes with EAN numbers etc. for product listings on Amazon Marketplace and in store. Delivery is quickly within your email inbox within minutes.',
                                author:'Tony'
                            },
                            {
                                raiting:5,
                                description:'Quick, Simple, Efficient Service, Well Done.',
                                author:'Pegasus LTD'
                            },
                            {
                                raiting:5,
                                description:'Excellent and efficient service in all respects combined with competitive pricing - a winner all round.',
                                author:'Jacob'
                            },
                            {
                                raiting:5,
                                description:'Simple 5 stars, thanks!',
                                author:'Alondra'
                            },
                            {
                                raiting:5,
                                description:`Very easy abs smooth transaction. Didn't have to move from my chair or pick up a phone.`,
                                author:'The Demolished M'
                            },
                            {
                                raiting:5,
                                description:`Smooth purchase, no issues and I received my order almost IMMEDIATELY!!! I would recommend their services to anyone and everyone.`,
                                author:'Powergirl'
                            },
                        ]
                    %>
                    <% comments.forEach(c => { %> 
                    <div class="screen3__comment-socket">
                        <div class="screen3__comment">
                            <div class="screen3__comment-top">
                                <ul class="screen3__comment-top-rank">
                                    <%
                                        for(let i = 0; i < c.raiting; i++){
                                    %>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19">
                                            <path fill="#3DDF9E" fill-rule="evenodd" d="M10 14.75l-5.878 3.34 1.36-6.622L.489 6.91l6.719-.753L10 0l2.792 6.157 6.719.753-4.993 4.558 1.36 6.622z"/>
                                        </svg>
                                    </li>
                                    <% } %>
                                </ul>
                                <div class="screen3__comment-top-author">
                                    <span><%=c.author%></span>
                                </div>
                            </div>
                            <div class="screen3__comment-description">
                                <%=c.description %>
                            </div>
                        </div>
                    </div>
                    <% }); %>

                </div>

            </div>
            <div class="screen3__actions">
                <button class="button2">More reviews</button>
                <button class="button3">
                    <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1033.000000, -2015.000000)">
                            <g id="reviews" transform="translate(0.000000, 1328.000000)" fill="#FFFFFF">
                                <g id="buttons" transform="translate(500.000000, 650.000000)">
                                    <g id="button-:-send-review" transform="translate(496.000000, 0.000000)">
                                        <g id=":-default" transform="translate(18.000000, 18.000000)">
                                            <polygon id="add-ico" points="26 26 26 19 29 19 29 26 36 26 36 29 29 29 29 36 26 36 26 29 19 29 19 26"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="screen screen4">
        <div class="screen4__area container-main">
            <div class="screen4__middle">
                <div class="screen4__header">
                    <h1 class="title">
                        FAQ
                    </h1>
                </div>
                <div class="screen4__faq">
                    <%
                        let faqList = [
                            {
                                title: 'How many codes do I need?',
                                description: 'You need one code for each product \'variation\', such as size and color. For example, 2 t-shirt designs, 5 sizes each and 2 colours each, will require 20 codes (2 * 5 * 2).'
                            },
                            {
                                title: 'What do I get?',
                                description: 'You will receive by email UPC-A (12 digits) codes AND EAN-13 (13 digits) codes, both are variant of the same code. Each code is accompanied by graphics of the corresponding barcode.'
                            },
                            {
                                title: 'Will these work for any product?',
                                description: 'Our codes will work for all products but books and pharma, but ok for health products such as protein powders, etc.'
                            },
                            {
                                title: 'Will these work in any country?',
                                description: 'Absolutely, our codes will work worldwide, online and in retail.'
                            },
                            {
                                title: 'Do the codes have a country prefix?',
                                description: '<p>The prefix is simply an indication of which country the barcode originates in but is not at all a condition to sell in a country. GS1 explains <a href="http://www.gs1.org/company-prefix">"since GS1 member companies can manufacture products anywhere in the world, GS1 prefixes do not identify the country of origin for a given product."</a>  We have people using our codes with US prefix to sell in the UK in Waitrose and Debenhams for example, or products "made in France" in France. If someone say they will sell you codes with an UK prefix it will not be legit, as only US companies were once allowed to resell their codes. See also <a href="http://www.foodmag.com.au/features/debunking-the-urban-myth-about-gs1-barcodes">here</a> and <a href="http://www.dailymail.co.uk/news/article-3481480/Can-REALLY-tell-country-food-coming-based-two-numbers-barcode.html">here</a>.</p>'
                            },
                            {
                                title: 'How are they registered?',
                                description: 'We don\'t need information about your product, price or company, you use the codes to register directly your products with your distributor (e.g. Amazon, CD Baby, supermarkets, grocery stores, etc). They will link the information as well as price to the code for you.'
                            },
                            {
                                title: 'Do I need to print the barcodes?',
                                description: 'If you sell products online you should only need the numbers, however if you sell through a distributor instead of sending the products directly, you may need to print the barcodes on stickers, which you can do with the images we provide you with your order, or by using our printing service.'
                            },
                            {
                                title: 'Refund policy?',
                                description: 'Since this item is a digital download all sales are final. If unsure buy one, try it, and if you purchase at least 100 more we\'ll reimburse the first one.'
                            },
                            {
                                title: 'Anything else?',
                                description: 'Just ask on our contact page'
                            }
                        ]
                    %>
                    <% faqList.forEach((item) => { %>
                    <div class="screen4__faq-item-container">
                        <div class="screen4__faq-item">
                            <div class="screen4__faq-item-top">
                                <div class="screen4__faq-item-title">
                                    <span><%=item.title %></span>
                                </div>
                                <div class="screen4__faq-item-arrow">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="icon/arrow-mini-blue" fill="#849BC9" fill-rule="nonzero">
                                                <polygon id="arrow-mini-blue-ico" points="14.59 7 10 11.58 5.41 7 4 8.41 10 14.41 16 8.41"></polygon>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="screen4__faq-item-content">
                                <div class="screen4__faq-item-text">
                                    <%=item.description %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

                </div>
            </div>
        </div>
        <div class="screen4__footer-container">
            <div class="screen4__footer">
                <div class="screen4__footer-area container-main">
                    <div class="screen4__footer-item">
                        <svg class="screen4__footer-logo" viewBox="0 0 31 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-130.000000, -38.000000)">
                                <g id="header" transform="translate(0.000000, 20.000000)" fill="#FFFFFF">
                                    <g id="logo" transform="translate(130.000000, 18.000000)">
                                        <path d="M0,0 L3,0 L3,24 L0,24 L0,0 Z M8,0 L11,0 L11,24 L8,24 L8,0 Z M13,0 L15,0 L15,24 L13,24 L13,0 Z M17,0 L20,0 L20,24 L17,24 L17,0 Z M28,0 L31,0 L31,24 L28,24 L28,0 Z M5,0 L6,0 L6,24 L5,24 L5,0 Z M22,0 L24,0 L24,24 L22,24 L22,0 Z M26,0 L27,0 L27,24 L26,24 L26,0 Z" id="logotype"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="screen4__footer-item">
                        <a href="mailto:support@verefied-upc.com" class="screen4__footer-email">support@verefied-upc.com</a>

                    </div>
                    <div class="screen4__footer-item">
                        <div class="screen4__footer-address">
                            <p>22 Ambleside Avenue, Bristol, UK</p>
                            <p>Perplexing Pegasus Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen4__bottom-image">

        </div>
    </div>
</div>
<% for (let key in htmlWebpackPlugin.files.js) { %>
<script src="<%= htmlWebpackPlugin.files.js[key] %>"></script><% } %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47955011 = new Ya.Metrika({
                    id:47955011,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47955011" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>